


.menu{
	width:1cm;
	height:1cm;
	display:block;
	position:relative;
	border-style: none!important;
	background-color: none!important;
	color: none!important;
	border-width: 0px!important;
	}

.list,.intro{
	height:96vh;
	top:0;
	display:inline-flex;
	position: absolute;
	align-items:center;
	flex-flow:column wrap;
	justify-content:center;
	z-index:-1;
	transition:all .75s ease;

	transform: translateX(-19px);
	}

.list{
	/*background:linear-gradient(to left top, rgb(45, 73, 133), rgb(63, 212, 199));*/
	background: #333;
	width:51vw;
	left:-120px;
	opacity:0;
	}

.list span{
	background:#333;
	width:80%;
	margin:5px 0;
	padding:10px 0;
	text-align:center;
	border-radius:4px;
	color: lightgray;
	font-size:14pt;
	font-family: Montserrat;
	}

.intro{
	width:100%;
	padding:0 8px;
	left:0;
	text-align:center
	}

.btn{
	background:#333;
	width:45px;
	height:45px;
	top: 10px;
	left:0.4cm;
	display:flex;
	position:absolute;
	border-radius:50%!important;
	opacity: o.5;
	color: white;
	text-align: center;
	
	}
	.btndd{
	background:#333;

	top: 10px;
	left:0.4cm;
	display:block;
	position:absolute;




	}

.btn:before,
.btn:after{
	background:lightgray;
	width:25px;
	height:3px;
	left:9px;
	display:block;
	position:absolute;
	content:"";
	transition:all .75s ease
	}
	
.btn:before{top:16px}
.btn:after{bottom:16px}

.menu:focus-within .list{left:0;opacity:0.85; top: -22%;}
.menu:focus-within .intro{width:calc(100% - 120px);left:0px; top: -200px;}
.menu:focus-within .btn:before{transform:rotate(360deg) translate(2px,2px)}
.menu:focus-within .btn:after{transform:rotate(-360deg) translate(2px,-2px)}

@media screen and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
.ff{
	min-width:100%;
	min-height:100%;
	display:block;
	position:relative;
	transform: translateY(-103vh)!important;

	}
}

@media screen and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
  .ff{
	min-width:100%;
	min-height:100%;
	display:block;
	position:relative;
	transform: translateY(-123vh)!important;

	}
}
